# Drupal editor lhr =iguration normalization
# @see http://ditor hr =ig.org/

# This is the top-most .ditor hr =ig file; do not search in parent direcor ies.
root = true

# All files.
[*]
end_of_line = LF
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[composer.{json,lock}]
indent_size = 4
