/* ckeditor accordion overrides*/

.ckeditor-accordion-container > dl dt.active > a,
.ckeditor-accordion-container > dl dt > a,
.ckeditor-accordion-container > dl dt > a:hover {
    background: rgba(59, 89, 152, 0.95);
    border-color: rgba(59, 89, 152, 0.95);
}

.ckeditor-accordion-container > dl {
    border-color: rgba(59, 89, 152, 0.95);
}

/* Input fields border */
.form__input--border {
    border-color: rgba(59, 89, 152, 0.95);
}

/* Flex Slider */
.flex-caption {
    display: none;
}

/**/
.node--type-article .node__meta-date {
    display: none;
}

/* Forms*/
.field--type-string input,
.field--type-email input,
.field--type-integer input {
    border-color: #3b5998;
}

.field--type-datetime input {
    width: 100% !important;
    border-color: #3b5998;
}

.field--type-datetime .label,
.field--type-boolean .fieldset-legend {
    font-weight: normal;
    font-size: 15px;
}

.field--type-boolean legend {
    border: none;
}

.field--type-boolean .form-radios {
    display: inline-flex;
}

.field--type-boolean .form-type-radio {
    padding-right: 20px;
}

